* {
    margin: 0;
    padding: 0;
}

#menu {
    display: grid;
    grid-template-areas:"head head" "nav nav " " art aside" "footer footer ";
    grid-template-rows: none;
    
}

#menu > header {
    grid-area: head;
    background: rgb(92, 92, 92);
    height: 100px;
   
    
    
}

#menu > nav
{
    grid-area: nav;
    background: rgb(255, 0, 0);
    grid-template-rows: 60px;
    
}
#menu > article
{
    grid-area: art;
    background: rgb(193, 255, 177);
}
#menu > aside
{
    grid-area: aside;
    background: rgb(132, 55, 255);
}
#menu > footer
{
    grid-area: footer;
    background: rgb(197, 159, 159);
    height: 100px;
}
